name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set short SHA
        id: vars
        run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build Docker image with SHA tag
        run: |
          docker build -t mini-platform:${{ steps.vars.outputs.SHA }} .
          docker tag mini-platform:${{ steps.vars.outputs.SHA }} mini-platform:latest
